// Animations
$generic-duration: .5s;
$loading-pacman-duration: 1s;

// Colors
$white: #fff;
$logo-red: #969696;
$logo-blue: #22558A;
$transparent-gray: rgba(255, 255, 255, .25);
$blue: #2E72B9;
$pink: #DA618C;
